:root{
    --bodyBgColor:#1d1d23;
    --mainColor:#ffffff;
    --secondColor:#e58f00;
    --footerBgColor:#35353b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    height: 3000;
    background-color: var(--bodyBgColor);
    color: var(--mainColor);
}

ul{
    width: fit-content;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--mainColor);
    font-weight: 700;
    font-size: 14px;
    transition: color 400ms;
    padding: 1rem 0;
    margin-right: 2rem;
    border-bottom: 2px solid transparent;
}

ul li a:hover{
    text-decoration: none;
    color: var(--secondColor);
    border-bottom: 2px solid var(--secondColor);
}

ul li:last-child a{
    margin-right: 0px;
}

.activeA{
    color: var(--secondColor);
    border-bottom: 2px solid var(--secondColor);
}

/* Navbar */

#Navbar{
    background-color: transparent;
    padding: 1rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 2000;
    transition: background-color 500ms;
}

#Navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */

#Navbar .container .logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;

}

#Navbar .container .logo .menuberger{
    border-radius: 5px;
    width: 50px;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    display: none;
}

#Navbar .container .logo .menuberger span{
    background-color: var(--mainColor);
    height: 3px;
    width: 100%;
    border-radius: 5px;
    margin: 3px 0;
    display: block;
}

/* leftnav */

#Navbar .container .leftnav{
    width: 40%;
    order: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* rightnav */

#Navbar .container .rightnav{
    width: 40%;
    order: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width:991px) {
    ul li a{
        margin-right: 1rem;
    }   
}

@media screen and (max-width:767px){
    #Navbar .container{
        flex-direction: column;
    }

    #Navbar .container .logo{
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #Navbar .container .logo .menuberger{
        display: flex;
    }

    #Navbar .container .rightnav{
        width: 100%;
        order: 3;
    }

    #Navbar .container .leftnav{
        margin-top: 1rem;
        order: 2;
        width: 100%;
    }

    #Navbar .container .rightnav,
    #Navbar .container .leftnav{
        display: none;
    }
}

@media screen and (max-width:290px){
    #Navbar .container .rightnav ul,
    #Navbar .container .leftnav ul{
        flex-direction: column;
    }

    #Navbar .container .rightnav ul a,
    #Navbar .container .leftnav ul a{
        margin: 0;
    }
    
}

/* Home page */

#Home{
    background-image: url(../img/Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\)-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 0;
    padding: 7rem 0 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(31, 31, 35, .9);
    z-index: -1;
}

#Home .container .row{
    align-items: center;
}

#Home .container .imageBox .image{
    text-align: center;
}

#Home .container .image img{
    width: 100%;
}

#Home .container .text h1{
    color: var(--secondColor);
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

#Home .container .text p{
    font-size: 15px;
    font-weight: 700;
    color: var(--mainColor);
    margin: .5rem 0;
}

#Home .container .text a{
    background-color: var(--secondColor);
    padding: .8rem 1.3rem;
    border-radius: 5px;
    display: block;
    width: fit-content;
    text-decoration: none;
    color: var(--bodyBgColor);
    font-weight: 700;
    transition: color 400ms;
}

#Home .container .text a:hover{
    color: #fff;
}

@media screen and (max-width:767px) {
    #Home .container .imageBox{
        display: none;
    }
}

/* About Us */

#About{
    padding: 4rem 0;
}

#About .row{
    justify-content: center;
    align-items: center;
}

#About .row .imageBox{
    display: flex;
    justify-content: center;
}

#About .row .imageBox .image{
    width: 75%;
}

#About .row .imageBox img{
    width: 100%;
}

#About .row .textBox .text{
    font-weight: 700;
}

#About .row .textBox .text h2{
    font-size: 2.5rem;
}

#About .row .textBox .text p{
    font-size: 14px;
}

@media screen and (max-width:767px) {
    #About .row .textBox{
        order: 1;
        margin-bottom: 1rem;
        width: 75%;
    }
    #About .row .imageBox{
        order: 2;
    }
    #About .row .imageBox img{
        width: 100%;
    }
}

@media screen and (max-width:576px){
    #About .container{
        width: 80%;
    }
    #About .row .imageBox .image{
        width: 100%;
    }
    #About .row .textBox{
        width: 100%;
    }
}

/* Quality */

/* Gallary */

#Gallary{
    padding: 3rem 0;
    text-align: center;
}

#Gallary h2{
    font-weight: 700;
}

#Gallary .row{
    margin-top: 4rem;
}

#Gallary .imgBox{
    margin-bottom: 1.5rem;
}

#Gallary .imgBox .image img{
    width: 90%;
}

/* Enjoy */

#Enjoy{
    padding: 4rem 0;
    background-image: url(../img/5.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Enjoy .text{
    background-color: rgba(50, 50, 55, .4);
    text-align: center;
    padding: 2rem;
    width: fit-content;
    border: 2px solid var(--secondColor);
}

#Enjoy .text h3{
    margin-bottom: 1.5rem;
}

#Enjoy .text p{
    margin: 0;
}

/* Menu */

#Menu{
    padding: 7rem 0;
}

#Menu h2{
    margin-bottom: 2rem;
    text-align: center;
}

#Menu .item .image img{
    width: 100%;
}

#Menu .item .text{
    margin: 1rem 0 0 0;
}

#Menu .item .text h5{
    text-transform: uppercase;
    color: var(--secondColor);
    margin: 0 0 .5rem 0;
}

#Menu .item .text p{
    margin: 0 0 .5rem 0;
    font-size: 13px;
}

#Menu .item .text span{
    display: block;
    color: var(--secondColor);
    font-weight: 700;
    font-size: 17px;
}

@media screen and (max-width:575px) {
    #Menu .item .text{
        margin: 1rem 0 2rem 0;
    }

    #Menu .col-md-4:last-child .text{
        margin: 1rem 0 0 0;
    }
}

/* BestMeal */

#BestMeal{
    padding: 3rem 0;
    background-color: var(--secondColor);
    position: relative;
}

#BestMeal .image{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 30%;
}

#BestMeal .image img{
    width: 100%;
}

#BestMeal .container{
    width: 50%;
}

#BestMeal .text{
    width: fit-content;
    padding: 1.5rem;
    margin-left: auto;
}

#BestMeal .text h2{
    margin-bottom: 1.5rem;
}

#BestMeal .text p{
    margin: 0;
}

@media screen and (max-width:1240px) {
    #BestMeal .image{
        left: 25%;
        transform: translate(-50%,-50%);
    }   
}

@media screen and (max-width:1040px) {
    #BestMeal .image{
        left: 20%;
        transform: translate(-50%,-50%);
    }   
}

@media screen and (max-width:940px) {
    #BestMeal .image{
        display: none;
    }   

    #BestMeal .container{
        width: 75%;
    }

    #BestMeal .text{
        margin: auto;
    }
}

/* Footer */

Footer{
    padding: 6rem 0 2rem 0;
    background-color: var(--footerBgColor);
}

Footer .container .logo-image{
    width: 350px;
    margin: 0 auto;
}

Footer .container .logo-image img{
    width: 100%;
}

Footer .footerlinks{
    margin-top: 2rem;
}

Footer .footerlinks ul{
    margin: auto;
}

Footer .footerlinks ul li a{
    border-bottom: none;
}

Footer .footerlinks ul li a:hover{
    color: #fff;
    border-bottom: none;
}

Footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 2rem auto;
}

Footer .social .icon{
    background-color: #fff;
    color: var(--bodyBgColor);
    margin-right: 1rem;
    padding: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 500ms , color 500ms;
}

Footer .social .icon:last-child{
    margin-right: 0rem;
}

Footer .social .icon:hover{
    background-color: #0665f5;
    color: #fff;
}

@media screen and (max-width:395px) {
    Footer .container .logo-image{
        width: 300px;
    }
}

@media screen and (max-width:345px) {
    Footer .container .logo-image{
        width: 250px;
    }   
}

@media screen and (max-width:295px) {
    Footer .container .logo-image{
        width: 200px;
    }    
}

@media screen and (max-width:393px) {
    Footer .footerlinks ul li:nth-child(4) a{
        margin: 0;
    }
}

@media screen and (max-width:311px) {
    Footer .footerlinks ul li:nth-child(4) a{
        margin: 0 1rem 0 0;
    }
}

@media screen and (max-width:485px) {
    Footer .footerlinks ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:250px) {
    Footer .social{
        flex-wrap: wrap;
    }
    Footer .social .icon{
        margin: 0 10px 10px 0;
        width: 30px;
        height: 30px;
    }
}